# Capstone project - 1st part

Importing libraries

In [141]:
import requests
import lxml.html as lh
import numpy as np
import pandas as pd

Taking data from Wikipedia

In [142]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

# Parse the first row as our header
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

In [144]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [146]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
df.head()

Seting columns names

In [148]:
df.columns = ['Postal code','Borough','Neighbourhood']

cols = df.columns.tolist()

df = df[cols]
df.head()

  Postal code             Borough                Neighbourhood
0       M1A\n      Not assigned\n                           \n
1       M2A\n      Not assigned\n                           \n
2       M3A\n        North York\n                  Parkwoods\n
3       M4A\n        North York\n           Victoria Village\n
4       M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

Replacing \n with blanks

In [149]:
df = df.replace('\n','', regex=True)
df.head()

  Postal code           Borough              Neighbourhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Deleting blank Borough and Canadian postal codes (the row where Postal Code was empty)

In [152]:
df.drop(df[df['Borough'] == 'Not assigned'].index, axis=0, inplace = True)
df.drop(df[df['Borough'] == 'Canadian postal codes'].index, axis=0, inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)
df.head(10)

  Postal code      Borough                                    Neighbourhood
0         M1B  Scarborough                                   Malvern, Rouge
1         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough                Guildwood, Morningside, West Hill
3         M1G  Scarborough                                           Woburn
4         M1H  Scarborough                                        Cedarbrae
5         M1J  Scarborough                              Scarborough Village
6         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9         M1N  Scarborough                      Birch Cliff, Cliffside West

Joining Postal Code and Borough

In [153]:
df = df.groupby(['Postal code', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postal code','Borough','Neighbourhood']
df.head(10)

  Postal code      Borough                                    Neighbourhood
0         M1B  Scarborough                                   Malvern, Rouge
1         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough                Guildwood, Morningside, West Hill
3         M1G  Scarborough                                           Woburn
4         M1H  Scarborough                                        Cedarbrae
5         M1J  Scarborough                              Scarborough Village
6         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9         M1N  Scarborough                      Birch Cliff, Cliffside West

In [154]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [156]:
# Check the shape of the data frame
df.shape

(103, 3)

In [157]:
#save to file
df.to_csv(r'df_tor.csv')